*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

body.darkmode{
    background-color: #111111;
    color: lightgray;
}

body.darkmode a{
    color: lightgray;
    text-decoration: none;
}

body.darkmode a:hover{
    background-color: #333333;
}

p{
    margin-top: .2em;
    margin-bottom: .8em;
}

#container{
    position: relative;
    width: 75%;
    margin: 50px auto;
}

#logo a{
    margin: 10px;
    text-decoration: none;
    -color: #eeeeee;
}

#login{
    margin: 0 auto;
    width: 25%;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
}

#login input{
    display: block;
    margin: 15px auto;
    width: 95%;
}

#login input[type=submit]{
    width: 50%;
}

#login input[type=text], #login input[type=password]{
    border: 1px solid grey;
    padding: 3px 5px;
    border-radius: 3px;
}

.error{
    color: #aa0000;
}

.icon{
    height: 1em !important;
    width: 1em !important;
    min-width: 1em !important;
}

.darkmode .icon{
    filter: invert(100%);
    cursor: pointer;
}

.darkmode .icon.icon_disabled{
    filter: invert(30%);
    cursor: not-allowed;
}

header{
    position: relative;

}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.align-left{
    text-align: lef;
}

.align-right{
    text-align: right;
}

#logo{
    float: left;
}

#profile{
    float: right;
    height: 64px;
    width: 200px;
    background: url('/img/profile.png') no-repeat right;
}

#profile ul{
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
}
#profile:hover ul{
    display: block;
}
#profile ul li{
    list-style-type: none;
}
#profile ul li a{
    display: block;
    width: 100%;
    padding: 3px 0;
}

#tab-nav{
    position: relative;
    width: 100%;
    display: block;
    height: 50px;
    background: #222222;
}

#tab-nav li{
    position: relative;
    float: left;
    list-style-type: none;
    width: 20%;
}

#tab-nav li a{
    position: relative;
    text-align: center;
    display: block;
    height: 50px;
}

#tab-nav li a span{
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    
}

#tab-nav li.selected a, #tab-nav li a:hover{
    background: #555555;
}

.dash-column{
    width: 48%;
}

#main>div, #main h2{
    margin-top: 30px;
}

#main h2{
    margin-bottom: 10px;
}

#main .dash-column h2{
    margin-top: 0;
}

div.table{
    display:table;
}
form.tr, div.tr{
    display:table-row;
}
div.td, div.th{
    display:table-cell;
}

table, div.table{
    width: 100%;
    border-collapse: collapse;
}

table tr, form.tr, div.tr{
    border-bottom: 1px dotted lightgray;
}

table td, table th, div.td, div.th{
    padding: .3em 1em .3em 0;
    min-width: 5%; /* reserves space for edit/delete controls */
}


table th, div.th{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

table tbody th, div.td.header-add{
    text-align: left;
    padding-top: .8em;
    font-weight: bold;
    font-size: 18px;
}

table tbody td, div.td{
    text-align: right;
    font-size: 16px;
}

table .category, div.table .category, table .txtcol, div.table .txtcol{
    text-align: left;
}

table td input, div.td input{
    font-family: inherit;
    min-width: 100px;
    width: 50px;
    border: darkgray;
    background: none;
    color: lightgray;
    font-size: 16px;
}


select{
    font-family: inherit;
    width: 100%;
    border: none;
    color: lightgray;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 1px solid #0c3858;
}

option, optgroup{
    color: #111111;
}

.category-page table td input[type=text], .category-page div.td input[type=text]{
    width: 95%;
    text-align: right;
}

.category-page table td.txtcol input[type=text], .category-page div.td.txtcol input[type=text]{
    text-align: left;
}

.category-page table td.category input, .category-page div.td.category input{
    text-align: left;
}

table td input[type=text], div.td input[type=text]{
    border: none; /* reset */
    border-bottom: 1px solid #0c3858;
}

.input_hidden{
    position: absolute;
    height:0;
    overflow:hidden;
    white-space: pre;
}
.dashboard-page .input_hidden{
    position: relative;
    height: auto;
    overflow: auto;
    white-space: normal;
}
.dashboard-page input.edit_text{
    display: none;
}


